<h1 style="text-decoration:underline">Director List</h1>
<%= link_to "New Director", "/directors/new" %>
<% @directors.sort_by_created_at.each do |director| %>
  <p id=<%= "index-#{director.id}" %>>
    <%= "#{director.name}" %> &nbsp&nbsp&nbsp <%= "#{director.created_at}" %>
  </p>
<% end %>
