<h1 style="text-decoration:underline">Director Details</h1>
<h3><%= @director.format_name %></h3>
<p>Movie Count: <%= @director.movie_count %>
<p>Years Active: <%= @director.years_active %></p>
<p>Best Director Oscar: <%= @director.best_director %></p>
